<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="suite">

    <test name="AWS4 tests">
        <parameter name="tests" value="*aws4" />
        <classes>
            <class name="AWS4Test" />
        </classes>
    </test>

    <test name="Bucket tests">
        <parameter name="tests" value="*buckets" />
        <classes>
            <class name="BucketTest" />
        </classes>
    </test>

    <test name="Object tests">
        <parameter name="tests" value="*objects" />
        <classes>
            <class name="ObjectTest" />
        </classes>
    </test>
</suite>